.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px;
  
}

h1{
  color: #bd81e6;
}

.abt-sec{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:#565555;
  padding: 15px;
  border-radius: 8px;
  display:inline-block;
  margin:20px;
}

body{
  background-color: rgb(255, 255, 255);
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.notes .years, .notes .subjects {
  margin: 10px 0;
  
}

.notes .years button, .notes .subjects button {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background-color: #e6c4fd;
  color: white;
  border: none;
  cursor: pointer;
}
.logo-link{
  display: inline-flex;
  align-items: center;
  
}

.logo-img {
  margin-right: 10px; 
}

.notes .note-content {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.subjects{
  display: inline;
}

.side{
  display: inline-block;
}

.years{
  display: inline-flex;
  padding :10px;
}


.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.welcome {
  font-size: 1em;
}

main {
  margin: 20px 0;
}

.App-footer {
  padding: 10px;
  background-color: #282c34;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}
