.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px;
  
}

body{
  background-color: rgb(95, 51, 155);
}
.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.App.welcome{
  font-size:30px;
  font-style: bold;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.welcome {
  font-size: 1em;
}

main {
  margin: 20px 0;
}

.App-footer {
  padding: 10px;
  background-color: #282c34;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}
